* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active-link {
  color: #F9804B;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1600px;
  width: 1160px;
  margin: 0 auto;
}

.burger-open-menu {
  display: none;
  padding: 10px;
  z-index: 1;
}

.burger-open-menu h1 {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  width: 66px;
  height: 42px;
  padding: 2.84px 3.8px;
  border: 1px solid #FE9013;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.burger-open-menu h1 a,
.burger-open-menu h3 a,
.burger-open-menu nav ul li a {
  text-decoration: none;
  color: #333B41;
}
.burger-open-menu h1 a {
  color: #FE9013;
}
.burger-open-menu nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin-bottom: 15px;
}
.burger-open-menu h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  margin-bottom: 40px;
}
.burger-open-menu #orangebamboo {
  position: absolute;
  top: 19px;
  left: 8px;
}
.burger-open-menu nav ul li a:hover,
.burger-open-menu h3 a:hover {
  color: #F9804B;
}
.burger-open-menu h4 {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  border: 1px solid black;
}
.burger-open-menu h4:hover {
  background-color: #F9804B;
  cursor: pointer;
}

#michael, #oskar, #fredericka {
  display: none;
  height: 390px;
}

#michael p, #oskar p, #fredericka p {
  height: 350px;
}

.cross {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 7px;
  color: #FED290;
}

.popUp {
  display: block;
  width: 320px;
  height: 428px;
  border: 1px solid white;
  background-color: white;
  padding: 20px 36px 17px 17px;
  position: absolute;
  top: 10px;
  left: 160px;
  box-shadow: 0 0 2500px 2500px rgba(0,0,0, 0.7);
}

.active {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: 0 0 250px 250px rgba(0, 0, 0, 0.7);
}

header {
  background: #000;
  color: #FFF;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

header nav {
  margin-right: auto;
  margin-left: 63px;
}

header nav ul{
  display: flex;
  gap: 58px;
}

header nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

header nav ul li a:hover {
  color: #F9804B;
}

header h1 {
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  text-align: center;
  border: 1.19px solid #FFF;
  width: 82px;
  padding: 3.5px 4.75px;
  position: relative;
}

#bamboo {
  position: absolute;
  top: 23.5px;
  left: 9px;
}

header h1 a,
header h3 a,
header nav ul li a {
  text-decoration: none;
  color: #FFF;
}

header h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

header h3 a:hover {
  color: #F9804B;
}

#burger-menu {
  display: none;
}

.hero {
  max-width: 1600px;
  height: 700px;
  background-image: url(../../assets/images/giantpanda.png);
  background-size: auto;
  background-position-y: -80px;
  border: none;
  position: relative;
}

#orange_ellipse {
  position: absolute;
  top: 12px;
  right: 328px;
}

.hero h2 {
  position: absolute;
  font-weight: 700;
  font-size: 106.5px;
  line-height: 79.87px;
  text-align: center;
  width: 500.31px;
  height: 400px;
  color: #FFF;
  top: 86px;
  right: 219.7px;
}

.hero span {
  color: #FFEE2E;
}

.rounded_button {
  position: absolute;
  padding: 16px;
  width: 292px;
  bottom: 100px;
  right: 322px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  border: transparent;
  color: #FFF;
  letter-spacing: 1px;
}

.rounded_button:hover {
  background: #E47209;
  cursor: pointer;
}

.backstage {
  display: flex;
  flex-direction: row;
  gap: 87px;
  margin-top: 140px;
}

#flower {
  position: absolute;
  right: 0;
  top: 792px;
}

#flower640 {
  display: none;
}
#flower320 {
  display: none;
}

.backstage_text h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
}

.backstage_text p {
  font-size: 16px;
  font-weight: 400;
}

.backstage_text h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
}

.backstage_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pets {
  position: relative;
  padding-bottom: 100px;
}

#palm {
  position: absolute;
  bottom: 0;
  left: 0;
}
#palm1000,
#palm320,
#strelitzia320 {
  display: none;
}

#strelitzia {
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes card {
  from {
    filter: brightness(1);
    transform: translateY(0);
  }
  to {
    filter: brightness(0.3);
    opacity: 0.8;
    transform: scale(1.027);
  }
}

.pets .animal_cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 30px;
  margin-top: 180px;
  position: relative;
}

.pets h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

.pets h4 {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}

.pets figure {
  border: 1px solid #FA6F32;
  border-radius: 5px;
  position: relative;
}

.pet_caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 13px 13px 16px;
  position: absolute;
  bottom: -60px;
  width: 100%;
  background-color: white;
  transition: all .2s ease-in-out;
}

figure img:hover {
  animation-name: card;
  animation-duration: 2s;
}

figure:hover .pet_caption {
  bottom: 40%;
}


.pets .right_button,
.pets .left_button {
  position: absolute;
  top: calc(50% - 18px);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: orange;
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.pets button:hover {
  background: #E47209;
  cursor: pointer;
}

.pets button:active {
  background: #4B9200;
}

.pets button:disabled {
  background: #767474;
}

.pets .left_button {
  position: absolute;
  left: calc(-62px - 20px);
}

.pets .right_button {
  position: absolute;
  right: calc(-20px - 62px);
}

.pets .fav_wrapper{
  display: flex;
  justify-content: space-around;
}
.pets .fav_wrapper .fav_button {
  padding: 16px 0;
  width: 298px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
  border: transparent;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  margin: 127px auto 0;
}

.pets .fav_wrapper .fav_button:hover {
  background: #E47209;
  cursor: pointer;
}

.pets .fav_wrapper .fav_button:active {
  background: #4B9200;
}

.feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 69px 0 100px;
}

.feed_wrapper {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  height: 835px;
  display: flex;
  flex-direction: column;
}

.feed h2 {
  color: #FE9013;
  font-size: 48px;
  font-weight: 400;
  line-height: 57.6px;
  text-align: center;
  padding-top: 41px;
}

.feed h4 {
  color: #333B41;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  padding-top: 30px;
  padding-left: 100px;
}

.feed h5 {
  color: #333B41;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  padding-top: 40px;
  padding-left: 100px;
}

.feed p {
  font-weight: 400;
  color: #333B41;
  font-size: 16px;
  line-height: 21px;
  padding-top: 10px;
  padding-right: 198px;
  padding-left: 100px;
}

.feed .emergency_link {
  text-decoration: none;
  color: #333B41;
  border-bottom: 1px solid #FE9013;
}

.feed h3 {
  font-weight: 400;
  color: #333B41;
  font-size: 36px;
  line-height: 47px;
  padding-top: 60px;
  margin: 0 auto;
}

.feed .feed_process {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 40px;
}


.feed .feed_element {
  display: grid;
}

.feed .feed_element img {
  width: 168px;
  height: 168px;
  border: 1px solid orange;
  background: #FFF;
  object-fit: scale-down;
  border-radius: 5px;
}

.process_arrow {
  padding-bottom: 60px;
}

.green_arrow {
  display: none;
}

.feed .feed_element h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333B41;
  width: 168px;
  margin-top: 26px;
}

.feed .feed_friend {
  padding: 16px 0;
  width: 298px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: transparent;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  margin: 60px auto;
}

.feed .feed_friend:hover {
  background: #E47209;
  cursor: pointer;
}

.feed .feed_friend:active {
  background: #4B9200;
}

.testimonials {
  margin-top: 140px;
  position: relative;
}

#leave {
  position: absolute;
  bottom: -310px;
  right: 0;
  z-index: -1;
}
#leave320{
  display: none;
}

.testimonials h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  color: #333B41;
}

.testimonials .testimonial_cards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 30px;
  margin-top: 47px;
  height: 391px;
}

.testimonials .review {
  background: #F1F3F2;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}

.review_wrap {
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding: 2px;
  border-radius: 20px;
}

.testimonials .review .review_title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonials .review h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.testimonials .review h6 {
  color: #BDBDBD;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.testimonials .review p {
  color: #767474;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  padding-top: 10px;
}

.testimonials .slide_container {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
}

.testimonials #range {
  width: 600px;
  height: 8px;
}

#range {
  appearance: none;
  border-radius: 5px;
  background:  #F5F7F6;
  border: 0.5px solid #FEBDAB;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20%;
  height: 8px;
  background: #FE9013;
  border-radius: 5px;
}

.testimonials .leave_feedback {
  padding: 16px 0;
  width: 298px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  margin-top: 13px;
}

.testimonials .leave_feedback:hover {
  background: #E47209;
  cursor: pointer;
}

.testimonials .leave_feedback:active {
  background: #4B9200;
}

footer {
  background: #111115;
  padding: 40px 0 50px;
  margin-top: 180px;
}

footer .footer_top {
  display: flex;
  justify-content: space-between;
}

.footer_top form label {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.footer_top form #email {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background: #111115;
  color: #BDBDBD;
  padding: 10px;
  margin-top: 14px;
  border: 1px solid #F9804B;
}

.footer_top input[type="submit"] {
  color: #4B9200;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 39px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 10px;
}

.footer_top input[type="submit"]:hover {
  cursor: pointer;
  background-color: #F1F3F2;
  border-color: #4B9200;
}

footer h2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  text-align: center;
  border: 1.19px solid rgba(255, 255, 255, 0.25);
  width: 82px;
  height: 52px;
  position: relative;
  padding: 3.5px 4.75px;
}

footer h2 a {
  text-decoration: none;
  color: #FFF;
}

#bamboo_footer {
  position: absolute;
  top: 23.9px;
  left: 9px;
}

footer .footer_donate {
  margin: 35px 0 44px;
  padding: 16px 0;
  width: 298px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  border: transparent;
}

footer .footer_donate:hover {
  background: #E47209;
  cursor: pointer;
}

footer .footer_donate:active {
  background: #4B9200;
}

footer .socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .socials a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #FFF;
}

footer .socials a h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}


footer .socials_logo {
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  display: grid;
  place-items: center;
  border-radius: 50%;
}

footer .socials a:hover {
  color: #4B9200;
}

footer .socials a:hover .socials_logo {
  background-color: #4B9200;
}

footer .footer_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

footer .footer_bottom nav ul {
  display: flex;
  gap: 58px;
  margin-left: 115px;
}

footer .footer_bottom nav ul li a{
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-decoration: none;
  color: #FFF;
}

footer .footer_bottom .copyright h4 {
  font-size: 16px;
  font-weight: 100;
  line-height: 26px;
  color: #FFF;
}

.copyright {
  margin-bottom: 10px;
}

footer nav ul {
  list-style: none;
}

footer nav ul li a:hover {
  color: #F9804B;
}

footer nav ul li:first-child a {
  color: #F9804B;
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
  #flower {
    display: none;
  }
  .pets .left_button {
    left: 34.5%;
    top: 49%;
  }
  .pets .right_button {
    right: 34.5%;
    top: 49%;
  }
  .pets .animal_cards {
    gap: 155px 30px;
  }
}

@media (max-width: 1220px) {
  .container,
  header .container {
    width: 100%;
    padding: 14px 30px;
  }
  #bamboo_cap {
    width: 455px;
    height: 408px;
    object-fit: cover;
  }
  .pet {
    width: 100%;
  }
  #strelitzia {
    bottom: 0;
    right: 0;
    width: 241px;
    height: 180px;
  }
  #palm {
    display: none;
  }
  #palm1000 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .testimonials .review p {
    height: 300px;
    overflow: hidden;
  }
}

@media (max-width: 1000px) {
  header nav ul {
    gap: 48px;
  }
  .hero {
    z-index: -1;
    height: 584px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -95px;
    padding-bottom: 0;
  }
  .hero h2 {
    font-size: 85px;
    line-height: 64px;
    top: 40px;
    right: 38px;
  }
  #orange_ellipse {
    width: 367px;
    height: 367px;
    top: -12px;
    right: 176px;
  }
  .rounded_button {
    bottom: 130px;
    right: 140px;
  }
  .backstage {
    gap: 30px;
    margin-top: 13px;
  }
  .backstage_text {
    display: block;
  }
  .backstage_text h2 {
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .backstage_text p {
    line-height: 22.4px;
    width: 454px;
  }
  .backstage_text h3 {
    margin-top: 53px;
    margin-bottom: 31px;
  }
  .pets .animal_cards {
    margin-top: 114px;
  }
  .pet {
    width: 100%;
  }
  .pets .fav_wrapper .fav_button {
    margin-top: 132px;
  }
  .pets {
    padding-bottom: 125px;
  }
  .feed {
    padding: 17px 0 50px;
  }
  .feed h2 {
    padding-top: 30px;
  }
  .feed h4 {
    padding-top: 20px;
    padding-left: 49px;
  }
  .feed h5 {
    padding: 20px 80px 10px 49px;
  }
  .feed p {
    padding: 0 49px;
  }
  .feed h3 {
    padding-top: 40px;
  }
  .process_arrow {
    padding-bottom: 86px;
  }
  .feed .feed_friend {
    margin: 72px auto;
  }
  .feed_wrapper {
    height: 795px;
  }
  .testimonials {
    margin-top: 70px;
  }
  .review_wrap:last-child {
    display: none;
  }
  .testimonials .testimonial_cards {
    margin-top: 30px;
  }
  .testimonials #range {
    width: 395px;
  }
  .testimonials .leave_feedback {
    margin-top: 32px;
  }
  #leave {
    bottom: -268px;
    right: -25px;
    transform: scale(0.8);
  }
  footer {
    margin-top: 113px;
  }
  footer .footer_bottom nav ul {
    gap: 46px;
    margin-left: 85px;
  }
  .footer_top {
    margin-right: 36px;
  }
  .copyright {
    margin-bottom: 0;
  }
}

@media (max-width: 980px) {
  .pets .animal_cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 150px 30px;
  }
  .pets .animal_cards figure {
    justify-self: center;
  }
  .pets .animal_cards figure:nth-child(5) {
    display: none;
  }
  .pets .animal_cards figure:nth-child(6) {
    display: none;
  }
  .pets .left_button {
    left: 41%;
  }
  .pets .right_button {
    right: 41%;
  }
  .testimonials .testimonial_cards {
    grid-auto-flow: row;
    gap: 15px;
    width: 90%;
    margin: 30px auto 0;
  }

  .testimonials .review p {
    overflow: hidden;
    height: 46px;
  }

  .testimonials #range {
    display: none;
  }
  #bamboo_cap {
    display: none;
  }
  header h1 {
    border: none;
  }
  header h3,
  header nav {
    display: none;
  }
  #burger-menu {
    display: block;
  }
  .feed .feed_process {
    gap: 10px;
  }

}

@media (max-width: 768px) {
  .feed .feed_process {
    gap: 5px;
  }
  .process_arrow {
    width: 30px;
  }
  .pets .right_button {
    right: 35%;
  }
  .pets .left_button {
    left: 35%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  header .container{
    height: 34px;
    padding: 0 20px;
  }
  header h1 {
    font-size: 12px;
    line-height: 15px;
    width: 46px;
    padding: 1px;
    margin-top: 1px;
  }
  #bamboo {
    top: 12.5px;
    left: 3px;
    transform: scale(0.7);
  }
  .hero h2 {
    font-size: 54px;
    line-height: 41px;
    width: 256px;
    top: 50px;
    right: 15px;
  }
  #orange_ellipse {
    width: 238px;
    height: 238px;
    top: 13px;
    right: 70px;
  }
  .hero {
    height: 374px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -34px;
    background-position-x: -65px;
  }
  .rounded_button {
    bottom: 75px;
    left: 23px;
  }
  .backstage {
    padding-top: 10px;
    padding-left: 3px;
  }
  .backstage_text h3 {
    margin-top: 28px;
    margin-bottom: 20px;
  }
  .backstage_text h2 {
    margin-top: 2px;
  }
  .backstage_text p {
    width: 495px;
    margin: -1px 0 0 -3px;
  }
  #flower640 {
    display: block;
    position: absolute;
    right: 0;
    top: 370px;
  }
  .pets .animal_cards {
    margin-top: 80px;
    gap: 135px 30px;
  }
  .pets h3 {
    font-size: 12px;
    line-height: 17px;
  }
  .pets h4 {
    font-size: 12px;
    line-height: 14px;
  }
  .pets .pet_caption img {
    transform: scale(0.8);
  }
  .pet_caption {
    padding: 0 7px 20px 10px;
  }
  .pets figure {
    width: 285px;
    height: 285px;
  }
  .pets .left_button {
    left: 37%;
    top: 47.5%;
    z-index: 1;
  }
  .pets .right_button {
    right: 37%;
    top: 47.5%;
    z-index: 1;
  }
  .pets .fav_wrapper .fav_button {
    margin-top: 110px;
  }
  .pets {
    padding-bottom: 100px;
  }
  #palm1000 {
    display: block;
    position: absolute;
    left: -60px;
  }
  #strelitzia {
    bottom: -22px;
    right: -30px;
    transform: scale(0.75);
  }
  .feed {
    padding: 20px 0 20px;
  }
  .feed h2 {
    font-size: 42px;
    line-height: 50px;
    padding-top: 10px;
  }
  .feed h4 {
    font-size: 22px;
    line-height: 26px;
    padding: 20px 0 0 20px;
  }
  .feed h5 {
    padding: 20px 20px 10px 20px;
  }
  .feed p {
    padding: 0 20px;
  }
  .feed h3 {
    padding-top: 30px;
  }
  .feed .container {
    padding: 0;
  }
  .process_arrow {
    display: none;
  }
  .feed .feed_process {
    gap: 40px;
    padding-top: 20px;
    padding-right: 10px;
    position: relative;
  }
  .green_arrow {
    display: block;
    position: absolute;
  }
  .green_arrow_1 {
    top: 3px;
    left: 156px;
  }
  .green_arrow_2 {
    top: 3px;
    right: 186px;
  }
  .feed .feed_friend {
    margin: 45px auto;
  }
  .feed_wrapper {
    height: 740px;
  }
  .testimonials {
    margin-top: 60px;
  }
  .testimonials .container {
    padding: 0;
  }
  .testimonials .testimonial_cards {
    width: 95%;
    margin: 25px auto 0;
    gap: 0;
  }
  .review_wrap {
    height: 85%;
  }
  .testimonials .slide_container {
    margin-top: 0;
  }
  .testimonials .leave_feedback {
    margin: -9px 200px 0;
    width: 240px;
  }
  #leave {
    bottom: -179px;
    width: 157px;
    right: -16px;
  }
  footer {
    margin-top: 80px;
    padding: 12px 0 50px;
    position: relative;
  }
  footer form {
    display: none;
  }
  footer .socials {
    position: absolute;
    top: 12px;
    right: 20px;
    gap: 20px;
  }
  footer .socials a h5 {
    display: none;
  }
  footer .footer_bottom nav ul {
    gap: 37px;
    margin-left: 0px;
  }
  footer .footer_donate {
    margin-bottom: 67px;
  }
}

@media (max-width: 639px) {
  .testimonials .testimonial_cards {
    width: 80%;
  }
  #flower640 {
    display: none;
  }
  .testimonials .leave_feedback {
    margin: -9px 29% 0;
  }
  .pets .animal_cards {
    gap: 135px 5px;
  }
}

@media (max-width: 600px) {
  .pets .right_button,
  .pets .left_button {
    display: none;
  }
  .pets .animal_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 67px 0;
    margin-top: 37px;
  }
  .pets .fav_wrapper .fav_button {
    margin-top: 67px;
  }
  .feed .feed_process {
    gap: 10px;
    padding-right: 0;
  }
  .testimonials .leave_feedback {
    margin: -9px 10% 0;
  }
  .green_arrow_1,
  .green_arrow_2 {
    display: none;
  }
  .feed .feed_element img {
    width: 80px;
    height: 80px;
  }
  .feed .feed_element h6 {
    width: 100px;
  }
  .backstage_text h2 {
    width: 100%;
  }
  .backstage_text p {
    width: 100%;
  }
  .backstage_text h3 {
    width: 100%;
  }
  footer .footer_bottom {
    flex-direction: column-reverse;
    align-items: baseline;
  }
}

@media (max-width: 320px)  {
  .container {
    width: 320px;
    padding: 0 10px;
  }
  header .container {
    padding: 0 10px;
  }
  .hero h2 {
    font-size: 28px;
    line-height: 21px;
    width: 128px;
    top: 40px;
    right: 10px;
  }
  #orange_ellipse {
    height: 119px;
    width: 119px;
    left: 162px;
    top: 22px;
  }
  .popUp {
    left: 0;
  }
  .hero {
    height: 187px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-position-x: -32px;
  }
  .rounded_button {
    bottom: -75px;
    left: 14px;
  }
  .backstage_text h2 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 80px;
    width: 300px;
  }
  .backstage_text p {
    width: 297px;
    margin: -10px 0 0 0px;
  }
  .backstage_text h3 {
    margin-top: 17px;
    margin-bottom: 19px;
  }
  #flower640 {
    display: none;
  }
  #flower320 {
    display: block;
    position: absolute;
    right: 0;
  }
  #palm1000,
  #strelitzia {
    display: none;
  }
  #strelitzia320 {
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
  }
  #palm320 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .pets {
    padding-bottom: 60px;
  }
  .feed_wrapper {
    margin: 0 10px 0;
    height: 1042px;
  }
  .feed h2 {
    font-size: 24px;
    line-height: 29px;
    padding-top: 20px;
  }
  .feed h4 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
  }
  .feed h5,
  .feed p {
    display: none;
  }
  .feed .feed_element img {
    width: 168px;
    height: 168px;
  }
  .feed h3 {
    font-size: 24px;
    line-height: 29px;
    padding-top: 20px;
  }
  .feed .container {
    padding: 0;
    width: 320px;
    height: 100%;
  }
  .feed .feed_process {
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    gap: 40px;
  }
  .feed .feed_process .feed_element:last-child {
    margin-top: -14px;
  }
  .green_arrow_1 {
    display: block;
    top: 460px;
    left: 196px;
    transform: rotate(84deg);
}
  .green_arrow_2 {
    display: block;
    top: 212px;
    right: 4px;
    transform: rotate(85deg);
  }
  .feed .feed_element h6 {
    margin-top: 13px;
    width: 168px;
  }
  .feed .feed_friend {
    margin: 35px auto;
  }
  .testimonials .leave_feedback {
    margin: -7px 40px;
  }
  .testimonials h3 {
    font-size: 24px;
    line-height: 29px;
  }
  .testimonials {
    margin-top: 30px;
  }
  .testimonials .testimonial_cards {
    width: 94%;
    margin: 20px auto 0;
    height: 375px;
  }
  .testimonials .review {
    padding: 9px;
  }
  .testimonials .review p {
    padding-left: 8px;
  }
  #leave {
    display: none;
  }
  #leave320 {
    display: block;
    position: absolute;
    right: 0;
  }
  footer {
    margin-top: 67px;
    padding-bottom: 30px;
  }
  footer h2 {
    border: none;
    width: 100%;
    padding: 8.5px 0 0 35px;
  }
  footer .socials {
    flex-direction: row;
    top: 73px;
    right: 63px;
    gap: 30px;
  }
  #bamboo_footer {
    top: 5px;
    left: 158px;
  }
  footer .footer_donate {
    margin-top: 64px;
    margin-bottom: 30px;
  }
  footer .footer_bottom {
    flex-direction: column-reverse;
    gap: 28px;
  }
  footer .footer_bottom nav ul {
    gap: 30px;
    margin-left: 0px;
    margin-right: 10px;
  }
}