* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1600px;
  width: 1160px;
  margin: 0 auto;
}

#burger {
  display: none;
}

header {
  background: #000;
  color: #FFF;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

header nav {
  margin-right: auto;
  margin-left: 63px;
}

header nav ul{
  display: flex;
  gap: 58px;
}

header nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

header nav ul li a:hover {
  color: #F9804B;
}

header h1 {
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  text-align: center;
  border: 1.19px solid #FFF;
  width: 82px;
  padding: 3.5px 4.75px;
  position: relative;
}

#bamboo {
  position: absolute;
  top: 23.5px;
  left: 9px;
}

header h1 a,
header h3 a,
header nav ul li a {
  text-decoration: none;
  color: #FFF;
}

header h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

header h3 a:hover {
  color: #F9804B;
}

.active-link {
  color: #F9804B;
}

.hero {
  max-width: 1600px;
  height: 390px;
  background-image: url(../../assets/images/panda_bg_donate.png);
  background-size:auto;
  border: none;
}

.donate {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  padding-bottom: 180px;
}

.donate h3 {
  padding-top: 40px;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: #FFF;
}

.donate p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #FFF;
}

.donate h4 {
  padding-top: 40px;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: #FE9013;
}

.feed {
  padding: 40px 92px 5px;
  margin-top: 60px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.feed h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  color: #FE9013;
  text-align: center;
}

.feed p {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #333B41;
  padding-top: 20px;
}

.panda {
  padding-top: 60px;
  display: flex;
  align-items: center;
  width: 532px;
  margin: 0 auto 45px;
  justify-content: space-between;
}

#panda_widget {
  padding-left: 64px;
}
.panda_text {
  padding-top: 40px;
}

.panda_text h2 {
  font-size: 72px;
  font-weight: 500;
  line-height: 58px;
  color: #000000;
}

.panda_text p {
  padding-top: 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333B41;
}

.feed h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.amount {
  margin-top: 17px;
  width: 100%;
  height: 27px;
  background-color: #404950;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	align-content: stretch;
  position: relative;
  padding-left: 30px;
  padding-right: 32px;
}

.amount::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 912px;
  background: #72828E;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.amount label::before {
  content: attr(data-donation-amount);
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  color: #333B41;
  transform: translate(-30px, 40px);
}

.amount label {
  width: 10px;
  height: 10px;
  transform: translate(0px, 8px);
  border-radius: 50%;
  background: #FFEE2E;
}

.amount label::after {
  content: "";
  position: absolute;
  top: -50px;
  right: -60px;
  padding: 60px;
}

.amount label::after:hover {
  cursor: pointer;
}

.amount label:hover {
  cursor: pointer;
}

.amount input:checked + label {
  cursor: pointer;
  outline: 1px solid #FE9013;
  outline-offset: 16px;
  box-shadow: 0 0 0 8px #404950, 0 0 0 9px #FE9013;
}

.amount input:checked + label::before {
  color: #FE9013;
}

.amount input {
  display: none;
}

#another-amount::placeholder {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #929699;
  position: relative;
}

#another-amount {
  padding: 16px;
  width: 268px;
  border: 1px solid #929699;
  display: flex;
  align-items: center;
  margin: 100px auto 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

#dollar-sign {
  position: absolute;
  right: 460px;
  top: 680px;
}

#another-amount::-webkit-outer-spin-button,
#another-amount::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.frequency {
  display: flex;
  justify-content: center;
  gap: 65px;
  margin-top: 25px
}

.frequency label {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #333B41;
  position: relative;
}

.frequency label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  outline: 1px solid #FE9013;
  border-radius: 50%;
  transform: translate(-23px, 3px);
}

.frequency label:hover {
  cursor: pointer;
}

.frequency input:checked + label::before {
  cursor: pointer;
  background: #FE9013;
}

.frequency input {
  display: none;
}

.feed_button_wrapper {
  display: flex;
  justify-content: space-around;
}

.feed_button_wrapper .feed_button {
  padding: 16px 0;
  width: 298px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);;
  border: transparent;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  margin-top: 31px;
}

.feed_button:hover {
  background: #E47209;
  cursor: pointer;
}

.share {
  width: 100%;
  margin: 30px auto 62px;
  display: flex;
  justify-content: center;
}

footer {
  background: #111115;
  padding: 40px 0 50px;
}

footer .footer_top {
  display: flex;
  justify-content: space-between;
}

.footer_top form label {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.footer_top form #email {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background: #111115;
  color: #BDBDBD;
  padding: 10px;
  margin-top: 14px;
  border: 1px solid #F9804B;
}

.footer_top input[type="submit"] {
  color: #4B9200;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 39px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-left: 10px;
}

.footer_top input[type="submit"]:hover {
  cursor: pointer;
  background-color: #F1F3F2;
  border-color: #4B9200;
}

footer h2 {
  font-size: 19px;
  font-weight: 400;
  line-height: 22.8px;
  text-align: center;
  border: 1.19px solid rgba(255, 255, 255, 0.25);
  width: 82px;
  height: 52px;
  position: relative;
  padding: 3.5px 4.75px;
}

footer h2 a {
  text-decoration: none;
  color: #FFF;
}

#bamboo_footer {
  position: absolute;
  top: 23.9px;
  left: 9px;
}

footer .footer_donate {
  margin: 30px 0 44px;
  padding: 16px 0;
  width: 298px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  border: transparent;
}

.footer_donate a {
  text-decoration: none;
  color: #FFF;
}

footer .footer_donate:hover {
  background: #E47209;
  cursor: pointer;
}

footer .footer_donate:active {
  background: #4B9200;
}

footer .socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .socials a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #FFF;
}

footer .socials a h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}


footer .socials_logo {
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
  display: grid;
  place-items: center;
  border-radius: 50%;
}

footer .socials a:hover {
  color: #4B9200;
}

footer .socials a:hover .socials_logo {
  background-color: #4B9200;
}

footer .footer_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

footer .footer_bottom nav ul {
  display: flex;
  gap: 58px;
  margin-left: 90px;
}

footer .footer_bottom nav ul li a{
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-decoration: none;
  color: #FFF;
}

footer .footer_bottom .copyright h4 {
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
  color: #FFF;
}

footer nav ul {
  list-style: none;
}

footer nav ul li a:hover {
  color: #F9804B;
}

/* MEDIA QUERIES */

@media (max-width: 1220px) {
  .container {
    width: 95%
  }
  .amount::before {
    width: 90%;
  }
  #dollar-sign {
    position: absolute;
    right: 40%;
    top: 70%;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 95%;
    padding: 0 5px;
  }
  header .container {
    padding: 14px 5px;
  }
  header nav ul {
    gap: 48px;
  }
  header h1 {
    padding: 2.5px 4.75px;
  }
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -170px;
  }
  .donate h3 {
    width: 90%;
  }
  .donate p {
    width: 95%;
    padding-top: 30px;
  }
  .donate h4 {
    padding-top: 22px;
  }
  .feed {
    margin-top: 40px;
    padding: 20px 47px 5px;
  }
  .feed h2 {
    margin-right: 15px;
    margin-bottom: -20px;
  }
  .panda {
    padding-top: 34px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
    width: 532px;
    margin: 0 auto;
  }
  .donate .feed .panda_text p {
    font-size: 9px;
    line-height: 13px;
    width: 100px;
  }
  .panda_text {
    width: 100px;
    padding-top: 50px;
  }
  #panda_widget {
    padding-left: 30px;
  }
  .feed h6 {
    margin: 44px 18px 18px;
  }
  .amount {
    margin: 20px auto;
    width: 96%;
    padding-left: 12px;
    padding-right: 10px;
  }
  .amount label:first-of-type {
    display: none;
  }
  .amount::before {
    width: 95%;
  }
  .amount label::before {
    transform: translate(-13px, 30px);
  }
  #another-amount {
    margin: 94px auto 0;
  }
  #dollar-sign {
    right: 37%;
    top: 71%;
  }
  .feed h6:last-of-type {
    margin: 29px 0px 40px;
  }
  .donate {
    padding-bottom: 30px;
  }
  .footer_top form {
    margin-right: 37px;
  }
  footer .footer_donate {
    margin: 34px 0 46px;
  }
  footer .footer_bottom nav ul {
    gap: 48px;
    margin-left: 120px;
  }
  footer .footer_bottom .copyright h4:first-of-type {
    margin-bottom: 10px;
  }
}
@media (max-width: 980px) {
  .copyright {
    width: 150px;
  }
}
@media (max-width: 768px) {
  #dollar-sign {
    right: 33%;
    top: 71%;
  }
  footer .footer_bottom nav ul {
    margin-left: 0px;
  }
  header h3 a {
    display: none;
  }
}
@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  header .container {
    height: 34px;
    padding: 0 20px;
  }
  header h1 {
    border: none;
    font-size: 12px;
    line-height: 15px;
    width: 47px;
  }
  header nav, header h3 {
    display: none;
  }
  #burger {
    display: block;
  }
  #bamboo {
    top: 11px;
    left: 1px;
    transform: scale(0.6);
  }
  .hero {
    height: 335px;
    background-position-x: -273px;
  }
  .donate h3 {
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    padding-top: 30px;
  }
  .donate p {
    padding-top: 20px;
    width: 100%;
  }
  .donate h4 {
    padding-top: 30px;
  }
  .feed {
    margin-top: 30px;
    padding: 30px 47px 5px;
  }
  .feed h2 {
    margin-right: 0;
    margin-bottom: 0;
  }
  .donate .feed .panda_text p {
    font-size: 16px;
    line-height: 22px;
  }
  .donate .feed p:first-of-type {
    text-align: center;
    width: 110%;
    padding-right: 0;
    margin: 0 -25px;
  }
  .donate .feed .panda p {
    width: 205px;
  }
  .donate .feed .panda p {
    text-align: initial;
  }
  .panda {
    padding-top: 50px;
    gap: 38px;
    width: 513px;
  }
  .panda img:first-of-type {
    padding-top: 30px;
  }
  .feed h6 {
    margin: 40px -37px 18px;
  }
  .amount::before {
    width: 87%;
  }
  .amount {
    margin: -10px auto;
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 35px;
    padding-right: 35px;
  }
  .amount label::after {
    top: -40px;
    right: -40px;
    padding: 40px;
  }
  .amount label:nth-of-type(2) {
    display: none;
  }
  .amount label:nth-of-type(3) {
    display: none;
  }
  .amount label::before {
    transform: translate(-20px, 31px);
  }
  #another-amount {
    margin: 126px auto 0px;
    transform: scale(0.68);
  }
  .feed h6:last-of-type {
    margin: 28px 0px 25px;
  }
  .donate {
    padding-bottom: 46px;
  }
  #dollar-sign {
    right: 36%;
    top: 72.5%;
  }
  .footer_top form,
  footer .socials a h5 {
    display: none;
  }
  footer {
    padding: 10px 0 10px;
    position: relative;
  }
  footer .socials {
    position: absolute;
    right: 20px;
    top: 11px;
    gap: 20px;
  }
  footer .footer_bottom nav ul {
    gap: 37px;
    margin-left: 0px;
    /* padding-bottom: 15px; */
  }
  footer .footer_bottom {
    padding-top: 23px;
  }
  footer .footer_donate {
    margin: 35px 0 40px;
  }
  .copyright {
    width: 235px;
  }
}

@media (max-width: 600px) {
  .panda {
    justify-content: center;
    width: 100%;
    gap: 0;
  }
  #panda_widget {
    width: 200px;
  }
  .feed .panda_text h2 {
    font-size: 41px;
    font-weight: 500;
    line-height: 32px;
    width: 65px;
  }
  .donate .feed .panda_text p {
    font-size: 9px;
    line-height: 13px;
    width: 100px;
  }
  #dollar-sign {
    right: 35%;
    top: 71.5%;
  }
  footer .footer_bottom {
    flex-direction: column-reverse;
    align-items: baseline;
  }
}

@media (max-width: 320px) {
  .container {
    width: 320px;
    padding: 0 10px;
  }
  header .container {
    height: 34px;
    padding: 0 10px;
  }
  .hero {
    height: 187px;
    background-position-x: -148px;
  }
  .donate h3,
  .donate p {
    width: 300px;
  }
  .donate h4 {
    font-size: 24px;
    line-height: 29px;
  }
  .feed h2 {
    font-size: 24px;
    line-height: 29px;
    width: 232px;
    margin: 0 auto;
  }
  .donate .feed p:first-of-type {
    font-size: 16px;
    line-height: 22px;
    width: 300px;
    padding: 10px 0 10px 0;
    margin: 0;
  }
  .feed {
    padding: 20px 0 3px;
  }
  .panda {
    width: 300px;
    padding-top: 0;
    gap: unset;
  }
  .panda_text {
    padding-top: 40px;
    padding-left: 0;
  }
  .feed .panda_text h2 {
    font-size: 41px;
    font-weight: 500;
    line-height: 32px;
    width: 65px;
  }
  #panda_widget {
    width: 160px;
    height: auto;
    padding-left: 0;
  }
  .donate .feed .panda_text p {
    font-size: 9px;
    line-height: 13px;
    width: 100px;
  }
  .panda img:first-of-type {
    width: 8px;
    margin-right: 37px;
    margin-bottom: 14px;
  }
  .feed h6 {
    margin: 4px 0px 12px;
  }
  .amount {
    padding-left: 15px;
    padding-right: 15px;
    height: 15px;
    margin: -5px auto;
  }
  .amount::before {
    width: 270px;
  }
  .amount label {
    width: 5px;
    height: 5px;
    transform: translate(0, 5px);
  }
  .amount label::before {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    transform: translate(-10px, 16px);
  }
  .amount label::after {
    padding: 20px;
    top: -15px;
    right: -15px;
  }
  #another-amount {
    margin: 66px auto 0px;
  }
  #dollar-sign {
    right: 69px;
    top: 362px;
  }
  .frequency {
    margin-top: 13px;
  }
  .share {
    width: 101%;
  }
  .donate {
    padding-bottom: 15px;
  }
  footer h2 {
    border: none;
    width: 200px;
    margin: 7px auto;
  }
  #bamboo_footer {
    top: 0;
    left: 108px;
  }
  footer .socials {
    flex-direction: row;
    margin: 61px auto;
    width: 280px;
    justify-content: center;
    gap: 30px;
  }
  footer .footer_donate {
    margin: 52px 0 34px;
  }
  footer .footer_bottom {
    flex-direction: column-reverse;
    padding-top: 0;
    align-items: end;
  }
  .copyright {
    margin-bottom: 30px;
  }
  .feed_button_wrapper {
    display: block;
  }
}